.color{
 display: inline-block;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 2px solid;
}

.canvas{
    width:190px;
    height: 190px;
    border: 2px dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

#resetBtn{
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}